body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #212121;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
